.post {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1em 0 0.3em 0;

    &-profil {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1em;
      }
    }

    &-content {
      &-username {
        margin-bottom: 0.5em;

        span {
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 0.9em;
          margin-right: 0.5em;
          &:first-child {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
          color: rgb(113, 118, 123);
        }
      }

      &-text {
        width: 90%;
        font-family: "Roboto", sans-serif;
        font-size: 0.9em;
        color: white;
        margin-bottom: 1em;
      }

      &-actions {
        &-icon {
          width: fit-content;
          display: flex;
          align-items: center;
          color: rgb(113, 118, 123);
          span {
            font-size: 0.8em;
            font-family: "Roboto", sans-serif;
            margin-left: -0.2em;
          }

          &:hover {
            cursor: pointer;
            color: rgb(29, 155, 240);
            div {
              background-color: rgb(29, 155, 240, 0.2);
              mat-icon {
                color: rgb(29, 155, 240);
              }
            }
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            color: rgb(113, 118, 123);
            width: 2.2em;
            height: 2.2em;
            mat-icon {
              font-size: 1.1em;
              width: 1.1em;
              height: 1.1em;
            }
          }
        }
        &-icon:nth-child(2){
          &:hover {
            color: rgb(0, 186, 124);
            div {
              background-color: rgb(0, 186, 124, 0.2);
              mat-icon {
                color: rgb(0, 186, 124);
              }
            }
          }
        }
        &-icon:nth-child(3){
          &:hover {
            color: rgb(249, 24, 128);
            div {
              background-color: rgb(249, 24, 128, 0.2);
              mat-icon {
                color: rgb(249, 24, 128);
              }
            }
          }
        }
        &-share {
          display: flex;
        }
      }
    }
  }