.home {
  margin: 0;
  padding: 0;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 2em;
  color: white;

  .hero {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &-item {
      color: rgb(113, 118, 123);
      padding: 1em 0;

      &.active {
        color: white;
        border-bottom: 3px solid rgb(29, 155, 240);
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &-settings {
      display: flex;
      justify-content: center;
      align-items: center;

      &-button {
        padding: 0.5em;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        mat-icon {
          font-size: 1.1em;
          width: 1.1em;
          height: 1.1em;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
