.sidebar{
    color: white;
    padding: 10px;
    font-size: 20px;
    .navigation{
        .navigation-item{
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 50px;
            *{
                margin-right: 10px;
            }
            &:hover{
                background-color: rgba(255,255,255,0.1);
            }
            width: fit-content;
        }
        .navigation-item:first-child{
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 50px;
            *{
                margin-right: 0px;
            }
            &:hover{
                background-color: rgba(255,255,255,0.1);
            }
            width: fit-content;
        }
    }
    border-right: 1px solid rgba(255,255,255,0.1);
    min-height: 100vh;
    box-sizing: border-box;
}