.sidebar {
  color: white;
  padding: 10px;
  font-size: 20px;
  position: sticky;
  top: 0;
  .navigation {
    &-item {
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 50px;
      cursor: pointer;
      &.disabled {
        cursor: default;
        opacity: 0.5;
        &:hover {
          background-color: transparent;
        }
      }
      * {
        margin-right: 10px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      width: fit-content;
    }
    .navigation-item:first-child {
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 50px;
      * {
        margin-right: 0px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      width: fit-content;
    }
  }
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile {
    position: relative;
    .profile-settings {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .profile-name {
          font-size: 18px;
        }
        .profile-nickname {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .profile-more {
      z-index: 2;
      position: absolute;
      bottom: 115%;
      background-color: black;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.282);
      width: 200px;
      padding: 20px 0;
      .profile-more-item {
        display: flex;
        align-items: center;
        padding: 10px 25px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
      .profile-more-icon {
        div {
          position: absolute;
          width: 20px;
          height: 20px;
          rotate: 45deg;
          bottom: -5px;
          left: 50%;
          background-color: black;
          box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, 0.282);
        }
      }
    }
  }
  .profile-more-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
