<app-common-layout>
  <div class="user">
    <div class="grid grid-cols-8 nav">
      <div class="col-span-1 nav-back">
        <div class="nav-back-button">
          <mat-icon svgIcon="xback"></mat-icon>
        </div>
      </div>
      <div class="col-span-7 nav-user-info">
        <div class="nav-user-info-name">{{user.name}}</div>
        <div class="nav-user-info-post">{{user.postCount}} posts</div>
      </div>
    </div>
    <div class="user-profil">
      <div class="user-profil-background"></div>
      <div class="user-profil-info">
        <div class="user-profil-info-image">
          <img
            src="assets/profil.png"
            alt="user image"
          />
        </div>
        <div class="user-profil-info-detail">
          <div class="user-profil-info-detail-name">{{user.name}}</div>
          <div class="user-profil-info-detail-username">@{{user.username}}</div>
          <div class="user-profil-info-detail-bio">
            {{user.bio}}
          </div>
          <div class="user-profil-info-detail-others">
            <div class="user-profil-info-detail-others-item">
              <mat-icon svgIcon="xlocation2"></mat-icon>
              <span>Ankara</span>
            </div>
            <div class="user-profil-info-detail-others-item">
              <mat-icon svgIcon="xlink"></mat-icon>
              <span
                ><a href="http://ombayus.com" target="_blank"
                  >ombayus.com</a
                ></span
              >
            </div>
            <div class="user-profil-info-detail-others-item">
              <mat-icon svgIcon="xcalendar2"></mat-icon>
              <span>{{user.birthDate | date}}</span>
            </div>
          </div>
          <div class="user-profil-info-detail-fw">
            <div class="user-profil-info-detail-fw-following">
              62<span>Following</span>
            </div>
            <div class="user-profil-info-detail-fw-followers">
              26<span>Followers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-content">
      <div class="grid grid-cols-6 user-nav">
        <div class="col-span-3 user-nav-item">Posts</div>
        <div class="col-span-3 user-nav-item active">Likes</div>
      </div>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
  </div>
</app-common-layout>
